# Entornos virtuales de Python
venv/
env/
.venv/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Datasets pesados (Evitar subir datos masivos)
*.csv
*.xlsx
*.parquet

# Archivos compilados y configuración local
__pycache__/
*.pyc
.env